[general]
path = outputs/case3/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 50.0
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	12.0
heights = 	12.0
powers = 	100
x = 43.522
y = 43.522

connections = 0
