[general]
path = outputs/case2/
placer_granularity = 1
initial_placement = given
decay = 0.8

[interposer]
# we will support passive, active, (photonic), and EMIB options.
intp_type = passive
intp_size = 50.0
link_type = nppl

[chiplets]
chiplet_count = 1
widths = 	9.0
heights = 	14.0
powers = 	100
x = 44.992
y = 42.542

connections = 0
